.container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.race {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.boat-races {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boat {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
}

.boat-picture {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.boat-image {
  height: 70%;
  width: 70%;
}

.water {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}

.water-image {
  height: 100%;
  flex-grow: 1;
  min-width: 25%;
}

.land {
  width: 20%;
  height: 100%;
}

#land {
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header-to-start {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.players {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#pirate, #player1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.versus {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people {
  width: auto;
  height: 30%;
}

.players-image {
  max-width: 100%;
  max-height: 100%;
}

.player1-cards {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pirates-cards {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 80%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  margin: auto;
}

.dealt-card {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card-images {
  width: 100%;
  height: 100%;
}

.hit-and-stay {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-top: 0;
}

#lets-play {
  margin: 0 40px;
  font-size: 28px;
  border-radius: 5px;
  background: #69FFD1;
}

#restart {
  margin: 0 40px;
  background: #7F1C1F;
  color: white;
  font-size: 23px;
  border-radius: 5px;
  padding: 5px;
}

#restart:hover {
  background: #232323;
  color: white;
}

#lets-play:hover {
  background: #232323;
  color: white;
}

.decision {
  margin: 15px;
}

#hit, #stand{
  font-size: 20px;
  border-radius: 7px;
  padding: 10px;
  border: 2px solid #2067E5;
}

#hit:hover, #stand:hover {
  background: #97EBFA;
}

#credits {
  font-size: 10px;
  text-align: right;
}


/* modal styles  */
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: block;
}

#modal-textbox {
	background-color: black;
  color: white;
	height: 350px;
	width: 550px;
	border-radius: 5px;
	padding: 2%;
	line-height: 120%;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: Arial;
}

#modal-footer {
	text-align: right;
}

#modal-title {
	padding-bottom: 15px;
  font-size: 28px;
  text-decoration: underline;
	font-family: Tahoma;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

#quick {
  font-size: 22px;
  font-weight: bold;
  color: #FF530D;
}

#goal {
  color: #43C3FF;
  font-size: 18px;
}

#modal-textbox p {
  font-size: 18px;
  line-height: 20px;
}

#status {
  font-family: Arial;
  font-size: 20px;
  border-bottom: 2px solid blue;
}
