/* variables for index - color scheme */
:root {
  --teal: #00a79d;
  --dark-grey: #414042;
  --light-grey: #bcbec0;
  --medium-grey: #6d6e71;
  --yellow: #fff200;
  --sand: #d5d5d5;
  --light-grey-t: rgba(158,158,158,0.15);
  --super-lightgrey: rgba(248,248,248,0.5);
}

/* ===body and html style=== */
html {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
}

/******************** ====INDEX PAGE STYLE==== ********************/


/* ====nav bar style==== */
.header {
  position: fixed;
  width: 22%;
  height: 100%;
  background: #fff;
  overflow: auto;
}

.my-logo {
  position: relative;
  margin: 30px auto 20px;
  max-width: 110px;
  text-align: center;
  z-index: 0;
}

.my-logo img {
  position: relative;
}

img {
  vertical-align: bottom;
  max-width: 80%;
  height: auto;
}

.index-title-block {
  position: relative;
  z-index: 1;
  margin: 20px 20px 10px;
  text-align: center;
}

.index-title {
  color: var(--dark-grey);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1em;
  margin: 15px 0 0 0
}

p.index-description {
  color: var(--light-grey);
  font-size: 16px;
  margin: 10px 0;
}

.nav {
  display: block;
  padding: 25px 0 30px;
}

.index-main-nav {
  display: block;
  padding: 0;
  margin: 0;
}

.index-main-nav li {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
}

.index-main-nav li a:hover {
  background: var(--super-lightgrey);
  border-right: 5px solid var(--light-grey);
}

.index-main-nav li.active a {
  background: var(--light-grey-t);
  border-right: 5px solid var(--teal);
}

.index-main-nav li:first-child a {
  border-top: 1px solid var(--light-grey-t);
}

.index-main-nav li a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: var(--dark-grey);
  font-size: 15px;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid var(--light-grey-t);
  outline: none;
}

ul.external-links {
  display: block;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
}

ul.external-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.external-links li a {
  display: inline-block;
  margin: 0 3px;
  width: 28px;
  color: var(--dark-grey);
  text-align: center;
}

a {
  text-decoration: none;
  outline: none;
}

ul.external-links li a i {
  font-size: 26px;
}

/*
nav {
  background: #fff;
  box-sizing: border-box;
  box-shadow: inset 0 10px 5px -5px var(--teal);
  text-align: center;
}

.nav-links-li {
  display: flex;
}

.nav-tag {
  text-decoration: none;
  color: var(--sand);
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.active-li {
  border-right: 5px solid var(--teal);
}

.active {
  color: var(--teal);
}

.fa-github, .fa-linkedin, .fa-cogs {
  text-decoration: none;
  color: var(--sand);
  font-size: 25px;
  margin-right: 10px;
}

.fa-github:hover, .fa-linkedin:hover, .fa-cogs:hover {
  color: var(--teal);
}

.nav-tag:hover {
  color: var(--teal);
}

ul {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#logo {
  width: 50px;
}

#logo:hover {
  cursor: pointer;
  width: 51px;
} */

/* ===main front style=== */
#front-pic {
  width: 250px;
  border-radius: 100%;
  border: 2px solid white;
}

.index-container {
  width: 100%;
  display: flex;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/carbon_fibre_v2.png");
  background-size: auto;
  color: white;
}
