/* variables for site - color scheme */
:root {
  --teal: #00a79d;
  --dark-grey: #414042;
  --light-grey: #bcbec0;
  --medium-grey: #6d6e71;
  --yellow: #fff200;
  --sand: #d5d5d5;
}

/* ===body and container style=== */
html {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  height: 100%;
  width: 100%;
}

/* ====nav bar style==== */
nav {
  background: black;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 10px 5px -5px var(--teal);
}

.nav-tag {
  text-decoration: none;
  color: var(--sand);
}

.fa-github, .fa-linkedin, .fa-cogs {
  text-decoration: none;
  color: var(--sand);
  font-size: 25px;
  margin-right: 10px;
}

.fa-github:hover, .fa-linkedin:hover, .fa-cogs:hover {
  color: var(--teal);
}

.nav-tag:hover {
  color: var(--teal);
}

ul {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

#logo {
  width: 50px;
}

#logo:hover {
  cursor: pointer;
  width: 51px;
}

/* ===main front style=== */
#front-pic {
  width: 200px;
  border-radius: 100%;
}

.index-container {
  width: 100%;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/carbon_fibre_v2.png");
  background-size: auto;
  color: white;
}

/* ===PROJECT PAGE style=== */
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.individual-project {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  justify-content: center;
  height: 300px;
  box-sizing: border-box;
  margin-top: 5px;
}

.image-and-name {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.information {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.project-info {
  width: 100%;
}

.project-image {
  margin-top: 5px;
}

.project-pic {
  height: 200px;
}

.project-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.code-links {
  padding: 5px;
  text-decoration: none;
  color: var(--teal);
}

.code-links:hover {
  color: var(--medium-grey);
}

.project-title {
  margin: 0;
  font-size: 26px;

}

.paragraph {
  font-size: 0.90em;
}
